body {
	font-family: Arial, sans-serif;
	background-color: #F2E2CE;
	padding: 20px;
}

.container {
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	padding: 20px;
	margin: 20px auto;
	max-width: 400px;
	text-align: center;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
	color: #FF5733;
	font-size: 36px;
	margin-top: 0;
}

form {
	margin-top: 20px;
}

label {
	display: block;
	font-size: 18px;
	margin-bottom: 10px;
	color: #333333;
}

.txfield {
	display: block;
	width: 100%;
	padding: 10px;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	margin-bottom: 20px;
	background-color: #F2F2F2;
	color: #333333;
}

button {
	background-color: #FF5733;
	color: #FFFFFF;
	border: none;
	padding: 10px 20px;
	font-size: 18px;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.2s;
}

button:hover {
	background-color: #FFA500;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

#resultado {
	font-size: 24px;
	margin-top: 20px;
	color: #333333;
}

/* Regras de estilo para tornar a calculadora de porcentagem totalmente responsiva */

@media only screen and (max-width: 480px) {

	.container {
		max-width: 100%;
		padding: 10px;
		margin: 10px auto;
	}

	h1 {
		font-size: 28px;
	}

	.txfield {
		font-size: 16px;
		padding: 8px;
		margin-bottom: 10px;
	}

	button {
		font-size: 16px;
		padding: 8px 16px;
	}

	#resultado {
		font-size: 20px;
	}

}

footer {
	    /* background-color: #333333; */
        color: #ff5733;
        padding: 3px;
        margin-top: 20;
        text-align: center;
        font-size: 13px;
}
